* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Exo 2", sans-serif;
}

// Header //

.header {
    background: #fedce0;
    display: flex;
    padding: 60px 120px;
    align-items: center;
    justify-content: space-between;

    .logo {
        width: 147px;
        height: 73px;
    }

    .menu {
        list-style-type: none;
        display: flex;

        a {
            color: #fa867e;
            padding: 0px 40px;
            font-weight: 500;
            font-size: 16px;
        }

        .fale-conosco {
            color: #f00f10;
            padding: 15px 40px;
            border: 2px solid #f00f10;
            box-sizing: border-box;
            border-radius: 10px;
            margin-left: 40px;
        }
    }
}

// Main //

.main {
    background: #fedce0;
    display: flex;
    justify-content: space-between;

    div {
        h1 {
            font-weight: 700px;
            font-size: 74px;
            color: #fa867e;
            margin: 80px 60px 10px 140px;
        }
        a {
            font-weight: 700px;
            font-size: 16px;
            color: #f00f10;
            margin-left: 140px;
        }
    }

    img {
        width: 590px;
        height: 475px;
    }
}

// Quem Somos //

.quem-somos {
    background: #f9f7ff;
    display: flex;
    justify-content: space-between;

    div {
        h3 {
            font-weight: normal;
            font-size: 32px;
            line-height: 38px;
            color: #fa867e;
            margin: 80px 60px 10px 140px;

            &::before {
                content: "";
                height: 6px;
                width: 6px;
                background: #f00f10;
                display: inline-block;
                margin-right: 10px;
            }
        }

        .paragrafo {
            color: #574e4e;
            font-size: 18px;
            line-height: 35px;

            padding: 40px 140px 20px 140px;
        }
    }

    img {
        width: 429px;
        height: 601px;
        border-radius: 30px;

        margin: 180px 40px 40px 80px;
    }
}

// Produtos //

.produtos {
    background: #fedce0;
    display: flex;
    justify-content: space-between;

    .div-esquerda {
        h3 {
            font-weight: normal;
            font-size: 32px;
            line-height: 38px;
            color: #fa867e;
            margin: 0px 60px 10px 140px;
        }

        img {
            width: 392px;
            height: 500px;
            margin: 120px 60px 140px 160px;
        }
    }

    .div-direita {
        padding-top: 230px;

        h4 {
            font-weight: bold;
            font-size: 26px;
            line-height: 29px;
            color: #fa867e;
            margin: 20px 210px 20px 50px;
        }

        .paragrafo {
            font-weight: normal;
            font-size: 21px;
            line-height: 35px;
            color: #574e4e;
            margin: 20px 210px 20px 50px;
        }
    }
}

// Perguntas Frequentes //

.perguntas-frequentes {
    background: #f9f7ff;

    h3 {
        font-weight: normal;
        font-size: 32px;
        line-height: 38px;
        color: #fa867e;
        margin: 0px 60px 10px 140px;
        padding: 140px 0px 80px 0px;
    }

    div {
        border: 2px solid #f00f10;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 30px 460px 0px 140px;
        padding: 30px 60px 40px 30px;

        .pergunta {
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;
            color: #574e4e;
        }

        .resposta {
            font-weight: normal;
            font-size: 18px;
            line-height: 35px;
            color: #574e4e;
            margin-top: 40px;

            display: none;
        }
    }

    div:last-child {
        margin-bottom: 80px;
    }
}

// Newsletter //

.newsletter {
    background: #fedce0;
    display: flex;
    padding: 80px 140px 40px 140px;

    div {
        margin-right: 140px;

        p {
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            color: #574e4e;
        }

        h3 {
            font-weight: bold;
            font-size: 32px;
            line-height: 38px;
            color: #574e4e;
        }
    }

    form {
        input {
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #231f1f;
            background: #fedce0;
            border-bottom: 1px solid #231f1f;
            border-top: none;
            border-left: none;
            border-right: none;

            padding-bottom: 10px;
            margin: 40px 20px 0px 0px;
        }

        input:last-child {
            font-size: 18px;
            line-height: 22px;
            color: #F00F10;
            border: none;
        }
    }
}
