* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
}

.header {
  background: #fedce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  width: 147px;
  height: 73px;
}

.header nav .menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav .menu a {
  color: #fa867e;
  padding: 0px 40px;
  font-weight: 500;
  font-size: 16px;
}

.header nav .menu .fale-conosco {
  color: #f00f10;
  padding: 15px 40px;
  border: 2px solid #f00f10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin-left: 40px;
}

.main {
  background: #fedce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main div h1 {
  font-weight: 700px;
  font-size: 74px;
  color: #fa867e;
  margin: 80px 60px 10px 140px;
}

.main div a {
  font-weight: 700px;
  font-size: 16px;
  color: #f00f10;
  margin-left: 140px;
}

.main img {
  width: 590px;
  height: 475px;
}

.quem-somos {
  background: #F9F7FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quem-somos div h1 {
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #FA867E;
  margin: 80px 60px 10px 140px;
}

.quem-somos div .paragrafo {
  color: #574E4E;
  font-size: 18px;
  line-height: 35px;
  padding: 40px 140px 20px 140px;
}

.quem-somos img {
  width: 429px;
  height: 601px;
  border-radius: 30px;
  margin: 180px 40px 40px 80px;
}

.produtos {
  background: #FEDCE0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.produtos .div-esquerda h1 {
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #FA867E;
  margin: 0px 60px 10px 140px;
}

.produtos .div-esquerda img {
  width: 392px;
  height: 500px;
  margin: 120px 60px 140px 160px;
}

.produtos .div-direita {
  padding-top: 230px;
}

.produtos .div-direita h2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  color: #FA867E;
  margin: 20px 210px 20px 50px;
}

.produtos .div-direita .paragrafo {
  font-weight: normal;
  font-size: 21px;
  line-height: 35px;
  color: #574E4E;
  margin: 20px 210px 20px 50px;
}

.perguntas-frequentes {
  background: #F9F7FF;
}

.perguntas-frequentes h1 {
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #FA867E;
  margin: 0px 60px 10px 140px;
  padding: 140px 0px 80px 0px;
}

.perguntas-frequentes div {
  border: 2px solid #F00F10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin: 30px 460px 0px 140px;
  padding: 30px 60px 40px 30px;
}

.perguntas-frequentes div .pergunta {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #574E4E;
  margin-bottom: 40px;
}

.perguntas-frequentes div .resposta {
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  color: #574E4E;
}
/*# sourceMappingURL=style.css.map */