* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Exo 2", sans-serif;
}

// Header //

.header {
    background: #fedce0;
    display: flex;
    padding: 60px 120px;
    align-items: center;
    justify-content: space-between;


    .logo {
        width: 147px;
        height: 73px;
    }

    nav .menu {
        list-style-type: none;
        display: flex;

        a {
            color: #fa867e;
            padding: 0px 40px;
            font-weight: 500;
            font-size: 16px;
        }

        .fale-conosco {
            color: #f00f10;
            padding: 15px 40px;
            border: 2px solid #f00f10;
            box-sizing: border-box;
            border-radius: 10px;
            margin-left: 40px;
        }
    }
}

// Main //

.main {
    background: #fedce0;
    display: flex;
    justify-content: space-between;

    div {
        h1 {
            font-weight: 700px;
            font-size: 74px;
            color: #fa867e;
            margin: 80px 60px 10px 140px;
        }
        a {
            font-weight: 700px;
            font-size: 16px;
            color: #f00f10;
            margin-left: 140px;
        }
    }

    img {
        width: 590px;
        height: 475px;
    }
}

// Quem Somos //

.quem-somos {
    background: #F9F7FF;
    display: flex;
    justify-content: space-between;

    div {
        h1 {
            font-weight: normal;
            font-size: 32px;
            line-height: 38px;
            color: #FA867E;
            margin: 80px 60px 10px 140px;
        }

        .paragrafo {
            color: #574E4E;
            font-size: 18px;
            line-height: 35px;

            padding: 40px 140px 20px 140px;
        }
    }

    img {
        width: 429px;
        height: 601px;
        border-radius: 30px;

        margin: 180px 40px 40px 80px;
    }
}

// Produtos //

.produtos {
    background: #FEDCE0;
    display: flex;
    justify-content: space-between;

    .div-esquerda {
        h1 {
            font-weight: normal;
            font-size: 32px;
            line-height: 38px;
            color: #FA867E;
            margin: 0px 60px 10px 140px;
        }

        img {
            width: 392px;
            height: 500px;
            margin: 120px 60px 140px 160px;
        }
    }

    .div-direita {
        padding-top: 230px;

        h2 {
            font-weight: bold;
            font-size: 26px;
            line-height: 29px;
            color: #FA867E;
            margin: 20px 210px 20px 50px;
        }

        .paragrafo {
            font-weight: normal;
            font-size: 21px;
            line-height: 35px;
            color: #574E4E;
            margin: 20px 210px 20px 50px;
        }
    }
}

// Perguntas Frequentes //

.perguntas-frequentes {
    background: #F9F7FF;

    h1 {
        font-weight: normal;
        font-size: 32px;
        line-height: 38px;
        color: #FA867E;
        margin: 0px 60px 10px 140px;
        padding: 140px 0px 80px 0px;
    }

    div {
        border: 2px solid #F00F10;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 30px 460px 0px 140px;
        padding: 30px 60px 40px 30px;

        .pergunta {
            font-weight: bold;
            font-size: 24px;
            line-height: 35px;
            color: #574E4E;
            margin-bottom: 40px;
        }

        .resposta {
            font-weight: normal;
            font-size: 18px;
            line-height: 35px;
            color: #574E4E;
        }
    }

}