* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
}

.title-section {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #fa867e;
}

.title-section::before {
  content: "";
  height: 6px;
  width: 6px;
  background: #f00f10;
  display: inline-block;
  margin-right: 10px;
}

.header {
  background: #fedce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  width: 147px;
  height: 73px;
}

.header .menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu a {
  color: #fa867e;
  padding: 0px 40px;
  font-weight: 500;
  font-size: 16px;
}

.header .menu .h-fale-conosco {
  color: #f00f10;
  padding: 15px 40px;
  border: 2px solid #f00f10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin-left: 40px;
}

.main {
  background: #fedce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main div h1 {
  font-weight: 700px;
  font-size: 74px;
  color: #fa867e;
  margin: 80px 60px 10px 140px;
}

.main div h1::after {
  content: "";
  height: 6px;
  width: 6px;
  background: #f00f10;
  display: inline-block;
  margin-left: 10px;
}

.main div a {
  font-weight: 700px;
  font-size: 16px;
  color: #f00f10;
  margin-left: 140px;
}

.main img {
  width: 590px;
  height: 475px;
}

.quem-somos {
  background: #f9f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 140px 0px 0px 140px;
  position: relative;
  overflow: hidden;
}

.quem-somos::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 280px;
  background: #fedce0;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.quem-somos div .paragrafo {
  color: #574e4e;
  font-size: 18px;
  line-height: 35px;
  padding: 40px 140px 20px 0px;
}

.quem-somos img {
  position: inherit;
  width: 429px;
  height: 601px;
  border-radius: 30px;
  margin: 20px 40px 40px 80px;
}

.produtos {
  background: #fedce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0px 0px 140px;
}

.produtos .div-esquerda img {
  width: 392px;
  height: 500px;
  margin: 120px 60px 140px 0px;
}

.produtos .div-direita {
  padding-top: 230px;
}

.produtos .div-direita h4 {
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  color: #fa867e;
  margin: 20px 210px 20px 50px;
}

.produtos .div-direita .paragrafo {
  font-weight: normal;
  font-size: 21px;
  line-height: 35px;
  color: #574e4e;
  margin: 20px 210px 20px 50px;
}

.perguntas-frequentes {
  background: #f9f7ff;
  padding-bottom: 80px;
  padding: 140px 0px 80px 140px;
}

.perguntas-frequentes div {
  border: 2px solid #f00f10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin: 30px 460px 0px 0px;
  padding: 30px 60px 40px 30px;
}

.perguntas-frequentes div .pergunta {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #574e4e;
}

.perguntas-frequentes div .resposta {
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  color: #574e4e;
  margin-top: 40px;
  display: none;
}

.newsletter {
  background: #fedce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 140px 40px 140px;
}

.newsletter div {
  margin-right: 140px;
}

.newsletter div p {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #574e4e;
}

.newsletter div h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #574e4e;
}

.newsletter form input {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #231f1f;
  background: #fedce0;
  border-bottom: 1px solid #231f1f;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 10px;
  margin: 40px 30px 0px 0px;
}

.newsletter form input:last-child {
  font-size: 18px;
  line-height: 22px;
  color: #f00f10;
  border: none;
}

.fale-conosco {
  background: #f9f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 140px 0px 80px 140px;
}

.fale-conosco div .form {
  padding-top: 120px;
}

.fale-conosco div .form input {
  display: block;
  margin-bottom: 30px;
  width: 560px;
  height: 60px;
  background: #f9e5ec;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
  color: #231f1f;
  padding: 0px 20px;
}

.fale-conosco div .form .mensagem {
  height: 286px;
}

.fale-conosco div .form .enviar {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #231f1f;
  border: 2px solid #f00f10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background: #f9f7ff;
  width: 270px;
  margin-left: 290px;
}

.fale-conosco img {
  width: 628px;
  height: 616px;
  -webkit-filter: drop-shadow(6px 4px 4px rgba(242, 73, 75, 0.15));
          filter: drop-shadow(6px 4px 4px rgba(242, 73, 75, 0.15));
  margin-top: 180px;
}

.footer {
  background: #fa867e;
  height: 433px;
  padding: 120px 40px;
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.footer p {
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */