* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Exo 2", sans-serif;
}

.title-section {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;

    color: #fa867e;

    &::before {
        content: "";
        height: 6px;
        width: 6px;
        background: #f00f10;
        display: inline-block;
        margin-right: 10px;
    }
    /*
    &::after {
        content: attr(data-title);
        font-weight: bold;
        font-size: 80px;
        text-transform: uppercase;
        color: rgba(250, 134, 126, 0.15);
        margin-left: -160px;
    }
    */
}

// Header //

.header {
    background: #fedce0;
    display: flex;
    padding: 60px 120px;
    align-items: center;
    justify-content: space-between;

    &__logo {
        width: 147px;
        height: 73px;
    }

    &__menu {
        list-style: none;
        display: flex;

        a {
            color: #fa867e;
            padding: 0px 40px;
            font-weight: 500;
            font-size: 16px;
        }
    }

    .menu__faleconosco {
        color: #f00f10;
        padding: 15px 40px;
        border: 2px solid #f00f10;
        border-radius: 10px;
        margin-left: 40px;
    }

    #btn-mobile {
        display: none;
    }
}

// Main //

.main {
    background: #fedce0;
    display: flex;
    justify-content: space-between;
    padding: 80px 0px 0px 140px;

    &__title {
        font-weight: 700px;
        font-size: 74px;
        color: #fa867e;

        &::after {
            content: "";
            height: 6px;
            width: 6px;
            background: #f00f10;
            display: inline-block;
            margin-left: 10px;
        }
    }

    &__saibamais {
        font-weight: 700px;
        font-size: 16px;
        color: #f00f10;
    }

    &__img {
        width: 590px;
        height: 475px;
    }

    img {
        width: 100%;
    }
}

// Quem Somos //

.quemsomos {
    background: #f9f7ff;
    display: flex;
    justify-content: space-between;
    padding: 140px 0px 0px 100px;

    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 280px;
        background: #fedce0;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }

    &__paragrafo {
        color: #574e4e;
        font-size: 18px;
        line-height: 35px;
        padding: 40px 140px 20px 0px;
    }

    &__img {
        position: relative;
        width: 429px;
        height: 601px;
        border-radius: 30px;
        margin: 20px 40px 40px 80px;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            border: 2px solid #fa867e;
            right: 31px;
            bottom: 22px;
            border-radius: 30px;
        }
    }
    img {
        border-radius: 30px;
    }
}

// Produtos //

.produtos {
    background: #fedce0;
    display: flex;
    justify-content: space-between;
    padding: 60px 0px 80px 140px;

    &__img {
        width: 392px;
        height: 500px;
        margin: 120px 60px 140px 0px;
    }

    &__div-direita {
        padding-top: 230px;
    }

    &__subtitle {
        font-weight: bold;
        font-size: 26px;
        line-height: 29px;
        color: #fa867e;
        margin: 20px 210px 20px 50px;
    }

    &__paragrafo {
        font-weight: normal;
        font-size: 21px;
        line-height: 35px;
        color: #574e4e;
        margin: 20px 210px 0px 50px;
    }
}

// Perguntas Frequentes 2 //

.perguntas-frequentes {
    background: #f9f7ff;
    padding: 140px 140px 80px 140px;

    &__item {
        display: grid;
        width: 80%;
        border: 2px solid #f00f10;
        border-radius: 10px;
        padding: 30px 60px 30px 30px;
        margin-bottom: 30px;

        grid-template-columns: calc(100% - 60px) 20px;
        grid-template-areas:
            "pergunta seta"
            "resposta resposta";
        gap: 0 40px;
    }

    &__pergunta {
        grid-area: pergunta;
        font-weight: bold;
        font-size: 24px;
        line-height: 35px;
        color: #574e4e;
        width: 100%;
    }

    &__resposta {
        grid-area: resposta;
        max-height: 0;
        overflow: hidden;
        font-size: 18px;
        line-height: 35px;
        color: #574e4e;
    }

    &__seta {
        grid-area: seta;
        border: none;
        text-align: left;
        cursor: pointer;
        background-color: #f9f7ff;

    }

    .is-open {
        margin-top: 30px;
    }

    .seta-rotate {
        transform: rotateX(180deg);
    }
}

// Newsletter //

.newsletter {
    background: #fedce0;
    display: flex;
    padding: 80px 140px 40px 140px;

    &__title {
        margin-right: 140px;

        p {
            font-weight: normal;
            font-size: 24px;
            color: #574e4e;
        }

        h3 {
            font-weight: bold;
            font-size: 32px;
            color: #574e4e;
        }
    }

    &__input {
        font-weight: normal;
        font-size: 18px;
        color: #231f1f;
        background: #fedce0;
        border-bottom: 1px solid #231f1f;
        border-top: none;
        border-left: none;
        border-right: none;

        padding: 10px;
        margin: 40px 30px 0px 0px;
    }

    &__input:last-child {
        font-size: 18px;
        color: #f00f10;
        border: none;
    }
}

// Fale Conosco //

.faleconosco {
    background: #f9f7ff;
    display: flex;
    justify-content: space-between;
    padding: 140px 0px 80px 140px;

    &__form {
        padding-top: 120px;
    }

    &__input {
        width: 100%;
        background: #f9e5ec;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        color: #231f1f;
        padding: 19px 0px 19px 20px;
        margin-bottom: 30px;
    }

    &__mensagem {
        min-height: 286px;
        max-height: 286px;
        min-width: 100%;
        max-width: 560px;
    }

    &__enviar {
        font-size: 18px;
        text-align: center;
        color: #231f1f;

        border: 2px solid #f00f10;
        border-radius: 10px;
        background: #f9f7ff;
        width: 270px;
        margin-left: 290px;
    }

    &__img {
        width: 628px;
        height: 616px;
        filter: drop-shadow(6px 4px 4px rgba(242, 73, 75, 0.15));
        margin-top: 180px;
    }
}

// Footer //

.footer {
    background: #fa867e;
    padding: 120px 40px;

    &__div {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    &__text {
        font-style: normal;
        font-size: 18px;
        text-align: center;

        color: #ffffff;
        margin-bottom: 20px;
    }
}

// Mobile //

@media (max-width: 1390px) {
    .header {
        padding: 29px 28px;

        &__menu {
            display: block;
            position: absolute;
            width: 80%;
            top: 0px;
            right: 0px;
            background: #fedce0;
            height: 0px;
            z-index: 100;

            transition: 0.6s;
            visibility: hidden;
            overflow: hidden;
        }

        li {
            margin-bottom: 38px;
        }

        a {
            padding: 0px;
        }

        #nav.active &__menu {
            height: 100vh;
            visibility: visible;

            padding: 102px 40px;
            box-shadow: -10px 4px 20px rgba(0, 0, 0, 0.25);
        }

        .menu__faleconosco {
            color: #fa867e;
            font-weight: 500;
            font-size: 16px;
            border: none;
            padding: 0px;
            margin: 0px;
        }

        #btn-mobile {
            display: flex;
            padding: 0.5rem 1rem;
            border: none;
            background: none;
            cursor: pointer;
            gap: 0.5rem;

            position: absolute;
            top: 42px;
            right: 24px;
            z-index: 1000;
        }

        #hamburguer {
            display: block;
            width: 38px;
            border-top: 6px solid #fa867e;
        }

        #hamburguer::after,
        #hamburguer::before {
            content: "";
            display: block;
            width: 38px;
            height: 6px;
            background: #fa867e;
            margin-top: 5px;
            position: relative;

            transition: 0.3s;
        }

        #nav.active #hamburguer {
            border-top-color: transparent;
        }

        #nav.active #hamburguer::after {
            transform: rotate(-135deg);
            top: -11px;
        }

        #nav.active #hamburguer::before {
            transform: rotate(135deg);
        }
    }

    .faleconosco {
        flex-direction: column;
        padding: 70px 22px 92px 22px;
        align-items: center;

        &__form {
            padding-top: 50px;
        }

        &__enviar {
            width: 100%;
            margin: 0px;
        }

        &__img {
            display: none;
        }
    }

    .quemsomos {
        flex-direction: column;
        padding: 70px 22px 0px 38px;
        align-items: center;

        &__paragrafo {
            padding: 0px;
            margin: 30px 0px;
        }

        &__img {
            margin: 60px 0px 0px 0px;
            max-width: 298px;
            max-height: 418px;

            &::before {
                right: 21px;
                bottom: 15px;
            }
        }

        img {
            width: 100%;
        }
    }
}

@media (max-width: 1205px) {
    .main {
        flex-direction: column;
        padding: 80px 0px 0px 28px;

        &__title {
            font-size: 32px;
        }

        &__img {
            align-self: flex-end;
            width: 304px;
            height: 250px;
        }
    }

    .produtos {
        flex-direction: column;
        padding: 70px 38px;
        align-items: center;

        &__img {
            margin: 70px 0px 16px 0px;
            max-width: 251px;
            max-height: 320px;
        }

        &__div-direita {
            padding: 0px;
        }

        &__subtitle {
            margin: 16px 0px;
        }

        &__paragrafo {
            margin: 0;
        }
    }

    .perguntas-frequentes {
        padding: 100px 22px 50px 22px;

        h3 {
            justify-self: center;
        }

        &__item {
            width: 100%;
            margin: 30px 0px;
            padding: 12px;
            gap: 0 22px;
        }

        &__seta {
            align-self: flex-start;
        }
    }

    .newsletter {
        flex-direction: column;
        padding: 22px 22px 70px 22px;

        form {
            display: flex;
            flex-direction: column;
        }

        &__input {
            margin: 40px 0px 0px 0px;
        }

        &__input:last-child {
            align-self: flex-end;
            margin-right: 10px;
        }
    }
}
